Step 0: Import all relevant libraries used in this project

In [8]:
from sodapy import Socrata # for API
import pyodbc # for SQL
import pandas as pd # for data cleaning
import dbfread # for dbf transformation
from simpledbf import Dbf5 # for dbf transformation

Step 1: Download crime data related to CTA from the City of Chicago data portal API until November 15, 2019

In [4]:
## WARNING: this query takes approx. 5 minutes to run; don't run it everytime you run this script

# API instructions https://dev.socrata.com/foundry/data.cityofchicago.org/ijzp-q8t2
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.cityofchicago.org",
                  "QtMhXqaTTglPlVS3AC6PEQQxD", username = "juli.kleindiek@gmail.com", password = "DEPA_2019")

# Limit to 6000 rows to avoid time out errors, data has <6000 rows, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
# Pull all crime data before '2019-11-15T00:00:00.000'
results = client.get("5xiy-qnsz", where = "date <= '2019-11-15T00:00:00.000'", limit = 6000)

Step 2: Clean the crime data

In [5]:
# Look at the output of the dowload
results[1]

{'date': '2011-01-01T01:30:00.000',
 'location': {'latitude': '41.883376682',
  'human_address': '{"address": "", "city": "", "state": "", "zip": ""}',
  'needs_recoding': False,
  'longitude': '-87.627874384'},
 'district': '001',
 'block': '001XX N STATE ST',
 'y_coordinate': '1900882',
 'latitude': '41.883376682',
 'description': 'SIMPLE',
 'location_description': 'CTA PLATFORM',
 'updated_on': '2016-02-04T06:33:39.000',
 'community_area': '32',
 'iucr': '0560',
 'x_coordinate': '1176353',
 'ward': '42',
 'case_number': 'HT100175',
 'year': '2011',
 'domestic': False,
 'fbi_code': '08A',
 'longitude': '-87.627874384',
 'beat': '0122',
 'primary_type': 'ASSAULT',
 'arrest': False,
 'id': '7869621'}

In [9]:
# Convert results to pandas DataFrame
crime_dirty = pd.DataFrame.from_records(results)
crime_dirty.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,True,0624,008XX E 79TH ST,HT100317,69,2011-01-01T00:15:00.000,SIMPLE,006,False,08B,...,41.751291477,"{'latitude': '41.751291477', 'human_address': ...",CTA BUS,-87.604904392,BATTERY,2016-02-04T06:33:39.000,6,1183016,1852803,2011
1,False,0122,001XX N STATE ST,HT100175,32,2011-01-01T01:30:00.000,SIMPLE,001,False,08A,...,41.883376682,"{'latitude': '41.883376682', 'human_address': ...",CTA PLATFORM,-87.627874384,ASSAULT,2016-02-04T06:33:39.000,42,1176353,1900882,2011
2,False,0724,011XX W 69TH ST,HT100156,68,2011-01-01T01:45:00.000,SIMPLE,007,False,08B,...,41.768727336,"{'latitude': '41.768727336', 'human_address': ...",CTA BUS,-87.652090375,BATTERY,2016-02-04T06:33:39.000,17,1170090,1859051,2011
3,False,0123,0000X S STATE ST,HT100176,32,2011-01-01T02:00:00.000,OVER $500,001,False,06,...,41.881556538,"{'latitude': '41.881556538', 'human_address': ...",CTA TRAIN,-87.627758535,THEFT,2016-02-04T06:33:39.000,42,1176390,1900219,2011
4,False,1812,009XX W FULLERTON AVE,HT101146,7,2011-01-01T02:00:00.000,POCKET-PICKING,018,False,06,...,41.925398449,"{'latitude': '41.925398449', 'human_address': ...",CTA TRAIN,-87.652311296,THEFT,2016-02-04T06:33:39.000,43,1169577,1916141,2011

In [10]:
# investigate crime_dirty 
crime_dirty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5808 entries, 0 to 5807
Data columns (total 22 columns):
arrest                  5808 non-null bool
beat                    5808 non-null object
block                   5808 non-null object
case_number             5808 non-null object
community_area          5808 non-null object
date                    5808 non-null object
description             5808 non-null object
district                5808 non-null object
domestic                5808 non-null bool
fbi_code                5808 non-null object
id                      5808 non-null object
iucr                    5808 non-null object
latitude                5806 non-null object
location                5806 non-null object
location_description    5808 non-null object
longitude               5806 non-null object
primary_type            5808 non-null object
updated_on              5808 non-null object
ward                    5808 non-null object
x_coordinate            5806 non-null object
y_coordinate            5806 non-null object
year                    5808 non-null object
dtypes: bool(2), object(20)
memory usage: 918.9+ KB

In [11]:
# Validate the values , i.e. 'id'
crime_dirty.loc[2:3]['id']

2    7869647
3    7869682
Name: id, dtype: object

In [12]:
# bring dataframe into proper format
crime = crime_dirty[['id', 
        'case_number', 
        'date', 
        'block', 
        'iucr', 
        'primary_type', 
        'description', 
        'location_description',
        'arrest',
        'domestic',
        'beat',
        'district',
        'ward',
        'community_area',
        'fbi_code',
        'x_coordinate',
        'y_coordinate',
        'year',
        'updated_on',
        'latitude',
        'longitude']]

In [13]:
# take a look at the proper dataframe
crime.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,7870071,HT100317,2011-01-01T00:15:00.000,008XX E 79TH ST,0460,BATTERY,SIMPLE,CTA BUS,True,False,...,006,6,69,08B,1183016,1852803,2011,2016-02-04T06:33:39.000,41.751291477,-87.604904392
1,7869621,HT100175,2011-01-01T01:30:00.000,001XX N STATE ST,0560,ASSAULT,SIMPLE,CTA PLATFORM,False,False,...,001,42,32,08A,1176353,1900882,2011,2016-02-04T06:33:39.000,41.883376682,-87.627874384
2,7869647,HT100156,2011-01-01T01:45:00.000,011XX W 69TH ST,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,007,17,68,08B,1170090,1859051,2011,2016-02-04T06:33:39.000,41.768727336,-87.652090375
3,7869682,HT100176,2011-01-01T02:00:00.000,0000X S STATE ST,0810,THEFT,OVER $500,CTA TRAIN,False,False,...,001,42,32,06,1176390,1900219,2011,2016-02-04T06:33:39.000,41.881556538,-87.627758535
4,7870254,HT101146,2011-01-01T02:00:00.000,009XX W FULLERTON AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,...,018,43,7,06,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296

In [14]:
# rename column 'id' into 'crimeID'
crime = crime.rename(columns={"id": "crimeID"})

In [15]:
# define proper data types for each column; WE NEED FURTHER CLEANING HERE
crime = crime.astype({"crimeID": int})

In [16]:
# set index of crime dataframe to 'id'
crime.set_index('crimeID')

,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
crimeID,,,,,,,,,,,,,,,,,,,,
7870071,HT100317,2011-01-01T00:15:00.000,008XX E 79TH ST,0460,BATTERY,SIMPLE,CTA BUS,True,False,0624,006,6,69,08B,1183016,1852803,2011,2016-02-04T06:33:39.000,41.751291477,-87.604904392
7869621,HT100175,2011-01-01T01:30:00.000,001XX N STATE ST,0560,ASSAULT,SIMPLE,CTA PLATFORM,False,False,0122,001,42,32,08A,1176353,1900882,2011,2016-02-04T06:33:39.000,41.883376682,-87.627874384
7869647,HT100156,2011-01-01T01:45:00.000,011XX W 69TH ST,0460,BATTERY,SIMPLE,CTA BUS,False,False,0724,007,17,68,08B,1170090,1859051,2011,2016-02-04T06:33:39.000,41.768727336,-87.652090375
7869682,HT100176,2011-01-01T02:00:00.000,0000X S STATE ST,0810,THEFT,OVER $500,CTA TRAIN,False,False,0123,001,42,32,06,1176390,1900219,2011,2016-02-04T06:33:39.000,41.881556538,-87.627758535
7870254,HT101146,2011-01-01T02:00:00.000,009XX W FULLERTON AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,1812,018,43,7,06,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296
7869713,HT100235,2011-01-01T02:30:00.000,009XX W FULLERTON AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,CTA TRAIN,False,False,1812,018,43,7,17,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296
7870065,HT100800,2011-01-01T02:40:00.000,0000X W 79TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA BUS STOP,False,True,0623,006,6,44,08B,1177483,1852629,2011,2016-02-04T06:33:39.000,41.750940757,-87.625185222
7869656,HT100245,2011-01-01T02:50:00.000,015XX W CHICAGO AVE,0460,BATTERY,SIMPLE,CTA BUS,False,False,1323,012,1,24,08B,1165806,1905429,2011,2016-02-04T06:33:39.000,41.896085375,-87.666473716
7869657,HT100301,2011-01-01T03:30:00.000,008XX W NORTH AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,1822,018,43,8,06,1170480,1910867,2011,2016-02-04T06:33:39.000,41.910906593,-87.649147871
7869735,HT100292,2011-01-01T03:30:00.000,002XX S STATE ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,CTA TRAIN,False,False,0123,001,42,32,03,1176411,1899396,2011,2016-02-04T06:33:39.000,41.879297705,-87.627706271
7872988,HT103553,2011-01-01T04:00:00.000,022XX N CALIFORNIA AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1414,014,35,22,06,1157337,1914762,2011,2016-02-04T06:33:39.000,41.921872317,-87.697324496
7869744,HT100371,2011-01-01T04:23:00.000,063XX N BROADWAY,0460,BATTERY,SIMPLE,CTA BUS,True,False,2433,024,40,77,08B,1167151,1942254,2011,2016-02-04T06:33:39.000,41.997106025,-87.660472077
7869874,HT100451,2011-01-01T05:30:00.000,001XX N STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,CTA TRAIN,False,False,0122,001,42,32,03,1176353,1900882,2011,2016-02-04T06:33:39.000,41.883376682,-87.627874384
7874466,HT105058,2011-01-01T06:03:00.000,011XX S STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,CTA TRAIN,False,False,0132,001,2,32,03,1176515,1895395,2011,2016-02-04T06:33:39.000,41.868316374,-87.627445222
7872408,HT100492,2011-01-01T06:40:00.000,063XX S WOLCOTT AVE,0460,BATTERY,SIMPLE,CTA BUS,False,False,0726,007,15,67,08B,1164770,1862717,2011,2016-02-04T06:33:39.000,41.778901304,-87.671487478
7870094,HT100559,2011-01-01T08:45:00.000,003XX W CHICAGO AVE,0320,ROBBERY,STRONGARM - NO WEAPON,CTA TRAIN,False,False,1823,018,27,8,03,1174084,1905671,2011,2016-02-04T06:33:39.000,41.896568854,-87.636063322
7877739,HT100978,2011-01-01T15:00:00.000,015XX N SEDGWICK ST,0810,THEFT,OVER $500,CTA TRAIN,False,False,1821,018,43,8,06,1173364,1910604,2011,2016-02-04T06:33:39.000,41.910121292,-87.638560993
7870280,HT101136,2011-01-01T17:16:00.000,004XX S RACINE AVE,0460,BATTERY,SIMPLE,CTA PLATFORM,True,False,1213,012,2,28,08B,1168451,1897951,2011,2016-02-04T06:33:39.000,41.875508384,-87.656975687
7870309,HT101202,2011-01-01T18:00:00.000,040XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1114,011,28,26,11,1149512,1901446,2011,2016-02-04T06:33:39.000,41.885487535,-87.726422045
7870493,HT101240,2011-01-01T18:30:00.000,015XX N CLYBOURN AVE,0320,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,True,False,1822,018,43,8,03,1170470,1910783,2011,2016-02-04T06:33:39.000,41.910676312,-87.649187069
7878190,HT101263,2011-01-01T18:57:00.000,002XX S DEARBORN ST,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,CTA PLATFORM,True,False,0123,001,42,32,26,1175967,1899285,2011,2016-02-04T06:33:39.000,41.87900312,-87.629339891
7871128,HT101327,2011-01-01T20:15:00.000,001XX W LAKE ST,0560,ASSAULT,SIMPLE,CTA TRAIN,False,False,0113,001,42,32,08A,1175401,1901736,2011,2016-02-04T06:33:39.000,41.885741529,-87.631344503
7871284,HT101911,2011-01-01T21:00:00.000,021XX S KEDZIE AVE,0320,ROBBERY,STRONGARM - NO WEAPON,CTA BUS STOP,False,False,1022,010,24,30,03,1155350,1889747,2011,2016-02-04T06:33:39.000,41.853268942,-87.705298
7872672,HT101362,2011-01-01T21:24:00.000,003XX N CENTRAL AVE,0320,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,True,False,1512,015,29,25,03,1138977,1901868,2011,2016-02-04T06:33:39.000,41.886843497,-87.765098817
7870650,HT101597,2011-01-02T03:15:00.000,063XX S KEDZIE AVE,0820,THEFT,$500 AND UNDER,CTA BUS STOP,False,False,0823,008,15,66,06,1156138,1862630,2011,2016-02-04T06:33:39.000,41.778840516,-87.703135682
7870682,HT101623,2011-01-02T04:50:00.000,047XX S DAN RYAN XPRS IB,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,0935,009,3,37,06,1175558,1873650,2011,2016-02-04T06:33:39.000,41.808667909,-87.631610721
7871721,HT101624,2011-01-02T05:09:00.000,001XX W 35TH ST,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,0924,009,11,34,06,1175739,1881773,2011,2016-02-04T06:33:39.000,41.830954079,-87.630703226
7871107,HT101962,2011-01-02T13:08:00.000,075XX N PAULINA AVE,2890,PUBLIC PEACE VIOLATION,OTHER VIOLATION,CTA PLATFORM,True,False,2422,024,49,1,26,1163690,1950023,2011,2016-02-04T06:33:39.000,42.018498254,-87.672983233
7882492,HT102039,2011-01-02T13:30:00.000,047XX S STATE ST,0460,BATTERY,SIMPLE,CTA TRAIN,False,False,0231,002,3,38,08B,1177068,1873704,2011,2016-02-04T06:33:39.000,41.808782124,-87.626070778
7871496,HT102304,2011-01-02T18:15:00.000,010XX W 95TH ST,1320,CRIMINAL DAMAGE,TO VEHICLE,CTA BUS,False,False,2223,022,21,73,14,1171240,1841813,2011,2016-02-04T06:33:39.000,41.721398883,-87.648378015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8418937,HT652115,2011-12-29T18:45:00.000,016XX W 59TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA BUS STOP,True,False,0714,007,15,67,18,1166640,1865589,2011,2018-02-10T15:50:01.000,41.786742732,-87.664549996
8419124,HT652233,2011-12-29T19:00:00.000,0000X W CTA 69TH ST LN,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,0731,003,6,69,06,1177340,1859132,2011,2016-02-04T06:33:39.000,41.768788957,-87.625513163
8419187,HT652202,2011-12-29T19:10:00.000,020XX S KOSTNER AVE,031A,ROBBERY,ARMED: HANDGUN,CTA PLATFORM,False,False,1012,010,24,29,03,1147374,1889823,2011,2018-02-10T15:50:01.000,41.853633845,-87.734570978
8419068,HT652218,2011-12-29T19:30:00.000,002XX W 63RD ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,0711,007,20,68,18,1175827,1863196,2011,2016-02-04T06:33:39.000,41.779975054,-87.630937377
8419065,HT652230,2011-12-29T20:05:00.000,040XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1114,011,28,26,11,1149512,1901446,2011,2018-02-10T15:50:01.000,41.885487535,-87.726422045
8419045,HT652263,2011-12-29T20:18:00.000,008XX N STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1832,018,42,8,11,1176223,1905805,2011,2018-02-10T15:50:01.000,41.896888586,-87.628203192
8419432,HT652613,2011-12-29T21:00:00.000,025XX S HALSTED ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA PLATFORM,False,False,0923,009,11,60,14,1171394,1887557,2011,2018-02-10T15:50:01.000,41.846922298,-87.646475499
8420280,HT652323,2011-12-29T21:15:00.000,003XX E 47TH ST,0320,ROBBERY,STRONGARM - NO WEAPON,CTA TRAIN,False,False,0222,002,3,38,03,1179016,1873926,2011,2016-02-04T06:33:39.000,41.809347098,-87.618919216
8419139,HT652330,2011-12-29T21:20:00.000,041XX W IRVING PARK RD,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,CTA TRAIN,False,False,1732,017,39,16,04A,1148252,1926266,2011,2018-02-10T15:50:01.000,41.953620328,-87.730408248
8420153,HT653194,2011-12-29T23:35:00.000,036XX W ADDISON ST,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1732,017,35,16,06,1151424,1923689,2011,2018-02-10T15:50:01.000,41.946487021,-87.718815503
8419376,HT652557,2011-12-30T00:30:00.000,0000X W 87TH ST,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,0634,006,21,44,06,1177549,1847286,2011,2016-02-04T06:33:39.000,41.736277427,-87.62510451
8419427,HT652622,2011-12-30T05:00:00.000,014XX S STATE ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA BUS STOP,False,False,0132,001,2,33,14,1176565,1893493,2011,2018-02-10T15:50:01.000,41.863096036,-87.627319089
8420264,HT653514,2011-12-30T07:30:00.000,052XX W ADDISON ST,0880,THEFT,PURSE-SNATCHING,CTA BUS STOP,False,False,1634,016,38,15,06,1140892,1923436,2011,2016-02-04T06:33:39.000,41.945993442,-87.757534561
8419856,HT652714,2011-12-30T08:15:00.000,0000X W CTA 95TH ST LN,0560,ASSAULT,SIMPLE,CTA PLATFORM,True,False,0634,006,21,49,08A,1177779,1842365,2011,2016-02-04T06:33:39.000,41.722768379,-87.624410361
8419597,HT652712,2011-12-30T08:45:00.000,0000X E ROOSEVELT RD,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0132,001,2,32,11,1176818,1895074,2011,2018-02-10T15:50:01.000,41.867428687,-87.626342565
8419619,HT652737,2011-12-30T08:56:00.000,008XX N STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1832,018,42,8,11,1176223,1905805,2011,2018-02-10T15:50:01.000,41.896888586,-87.628203192
8420055,HT652920,2011-12-30T10:26:00.000,018XX W MADISON ST,0440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,CTA BUS,True,False,1211,012,27,28,08B,1164331,1900061,2011,2016-02-04T06:33:39.000,41.881386494,-87.672043016
8419900,HT652835,2011-12-30T10:35:00.000,053XX S HYDE PARK BLVD,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA BUS,False,True,2132,002,5,41,08B,1188555,1870327,2011,2016-02-04T06:33:39.000,41.799248277,-87.584047451
8420089,HT653072,2011-12-30T12:45:00.000,005XX S KEDZIE AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1134,011,24,27,06,1155121,1897438,2011,2016-02-04T06:33:39.000,41.874378476,-87.705932215
8420239,HT653455,2011-12-30T13:15:00.000,019XX S CENTRAL PARK AVE,0870,THEFT,POCKET-PICKING,CTA PLATFORM,False,False,1014,010,24,29,06,1152684,1890083,2011,2018-02-10T15:50:01.000,41.854244056,-87.715074318
8420066,HT653200,2011-12-30T14:45:00.000,055XX S EMERALD AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,0711,007,3,68,06,1172245,1868127,2011,2016-02-04T06:33:39.000,41.793585807,-87.643924507
8420064,HT653230,2011-12-30T15:10:00.000,079XX S JEFFERY BLVD,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,0414,004,8,46,06,1190912,1852820,2011,2016-02-04T06:33:39.000,41.751151039,-87.575969317
8420227,HT653413,2011-12-30T17:30:00.000,005XX W 79TH ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA BUS,False,False,0621,006,17,69,14,1174251,1852530,2011,2016-02-04T06:33:39.000,41.750741475,-87.637031738
8420246,HT653438,2011-12-30T17:30:00.000,006XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0132,001,2,32,11,1176452,1897617,2011,2016-02-04T06:33:39.000,41.8744151,-87.627609439
8420314,HT653503,2011-12-30T18:25:00.000,023XX N DAMEN AVE,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,CTA BUS,False,False,1432,014,32,22,14,1162624,1915768,2011,2016-02-04T06:33:39.000,41.924523603,-87.67787035
8420332,HT653609,2011-12-30T19:35:00.000,008XX N STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,1832,018,42,8,18,1176223,1905805,2011,2018-02-10T15:50:01.000,41.896888586,-87.628203192
8420337,HT653638,2011-12-30T20:15:00.000,005XX S PULASKI RD,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,CTA PLATFORM,True,False,1132,011,24,26,14,1149812,1897228,2011,2016-02-04T06:33:39.000,41.873907046,-87.725430093
8420423,HT653695,2011-12-30T20:30:00.000,005XX S KEDZIE AVE,2170,NARCOTICS,POSSESSION OF DRUG EQUIPMENT,CTA PLATFORM,True,False,1134,011,24,27,18,1155124,1897322,2011,2018-02-10T15:50:01.000,41.874060099,-87.705924314
8420447,HT653768,2011-12-30T21:25:00.000,001XX S STATE ST,0820,THEFT,$500 AND UNDER,CTA PLATFORM,False,False,0123,001,42,32,06,1176408,1899528,2011,2016-02-04T06:33:39.000,41.879659989,-87.627713302
8420658,HT653942,2011-12-30T23:55:00.000,005XX S KEDZIE AVE,0263,CRIM SEXUAL ASSAULT,AGGRAVATED: KNIFE/CUT INSTR,CTA TRAIN,True,False,1134,011,24,27,02,1155124,1897322,2011,2018-02-10T15:50:01.000,41.874060099,-87.705924314

In [ ]:
# Further cleaning?

Step 3: Create Grid Table based on crime data

Step 4: Assign GridID to crime data

Step 5: Load BusStop and TrainStop data

Step 6: Clean BusStop and TrainStop data

Step 7: Assign GridID to BusStop and TrainStop data

Step 8: Load holiday data

Step 9: Clean holiday data

Step 10: Load tables into CloudSQL

In [ ]:
# define connection to the server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=db_name;'
                      'Trusted_Connection=yes;')

In [ ]:
# define connection to the server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=db_name;'
                      'Trusted_Connection=yes;')

Step 11: Daily refresh of crime data

In [17]:
# pull most recent date from table

latest_date = crime.date.max()
latest_date

'2011-12-30T23:55:00.000'

In [ ]:
# prepare API statement: filter for dates that are more recent than the max date in the table

updated_statement = "date" + " " + ">" + " " + "'" + latest_date + "'"
updated_statement

In [ ]:
# Pull all crime data before '2019-11-15T00:00:00.000'
client = Socrata("data.cityofchicago.org",
                  "QtMhXqaTTglPlVS3AC6PEQQxD", username = "juli.kleindiek@gmail.com", password = "DEPA_2019")

# Limit to 5 rows for test purposes
results = client.get("5xiy-qnsz", where = updated_statement, limit = 5)

In [ ]:
# Prepare new data (only example)
crime_new_dirty = pd.DataFrame.from_records(results)
crime_new = crime_new_dirty[['id', 
        'case_number', 
        'date', 
        'block', 
        'iucr', 
        'primary_type', 
        'description', 
        'location_description',
        'arrest',
        'domestic',
        'beat',
        'district',
        'ward',
        'community_area',
        'fbi_code',
        'x_coordinate',
        'y_coordinate',
        'year',
        'updated_on',
        'latitude',
        'longitude']]
crime_new.tail()

In [ ]:
# Append new data to master crime data file
crime.append(crime_new)

Step 12: Clean daily updated crime data

Step 13: Assign GridID to daily updated crime data

Step 14: Append daily updated crime data to the crime database in CloudSQL

Import and clean CTA data (for reference of .dbf to .csv transformation, see https://pypi.org/project/simpledbf/; perform $ pip install simpledbf)

In [22]:
# import CTA_BusStops.dbf
# retrieved from GitHub
# originally downloaded from https://data.cityofchicago.org/Transportation/CTA-Bus-Stops-Shapefile/pxug-u72f
dbf1 = Dbf5('Datasets/CTA_BusStops.dbf', codec='utf-8')

In [23]:
# take a look at the file
dbf1.fields

[('DeletionFlag', 'C', 1),
 ('OBJECTID', 'N', 10),
 ('SYSTEMSTOP', 'N', 19),
 ('STREET', 'C', 75),
 ('CROSS_ST', 'C', 75),
 ('DIR', 'C', 3),
 ('POS', 'C', 4),
 ('ROUTESSTPG', 'C', 75),
 ('OWLROUTES', 'C', 20),
 ('CITY', 'C', 20),
 ('STATUS', 'N', 10),
 ('PUBLIC_NAM', 'C', 75),
 ('POINT_X', 'N', 19),
 ('POINT_Y', 'N', 19)]

In [24]:
# export .dbf file to .csv (BusStops)
dbf1.to_csv('Datasets/CTA_BusStops.csv')

In [25]:
# read .csv for BusStops
BusStops = pd.read_csv('Datasets/CTA_BusStops.csv', index_col = 'OBJECTID')

In [26]:
# change column name POINT_X and POINT_Y to lat and long
BusStops = BusStops.rename(columns={"POINT_X": "longitude", "POINT_Y":"latitude"})

In [27]:
# look at clean data frame
BusStops.head()

,SYSTEMSTOP,STREET,CROSS_ST,DIR,POS,ROUTESSTPG,OWLROUTES,CITY,STATUS,PUBLIC_NAM,longitude,latitude
OBJECTID,,,,,,,,,,,,
193,6696.0,TAYLOR,THROOP,EB,NS,157,NaN,CHICAGO,1,Taylor & Throop,-87.659294,41.869314
194,22.0,JACKSON,KARLOV,EB,FS,126,NaN,CHICAGO,1,Jackson & Karlov,-87.727808,41.877007
195,4767.0,FOSTER,MONTICELLO,EB,NS,92,NaN,CHICAGO,1,Foster & Monticello,-87.719780,41.975526
196,6057.0,ASHLAND,CERMAK/BLUE ISLAND,SB,NS,"9,X9",N9,CHICAGO,1,Ashland & Cermak/Blue Island,-87.666173,41.852484
197,1790.0,CLARK,ALBION,SB,NS,22,N22,CHICAGO,1,Clark & Albion,-87.671981,42.001785

In [28]:
# import CTA_TrainStops.csv
# retrieved from GitHub
# originally downloaded from https://data.cityofchicago.org/Transportation/CTA-System-Information-List-of-L-Stops/8pix-ypme
TrainStops = pd.read_csv('Datasets/CTA_TrainStops.csv', index_col = 'STOP_ID')
TrainStops.head()

,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
STOP_ID,,,,,,,,,,,,,,,,
30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"

In [29]:
# clean up TrainStations's Location column into Point_X and Point_Y
# split location column
LocationNew = TrainStops["Location"].str.split(",", n = 1, expand = True)
LocationNew.head()

                  0             1
STOP_ID
30162    (41.857908   -87.669147)
30161    (41.857908   -87.669147)
30022    (41.829353   -87.680622)
30023    (41.829353   -87.680622)
30214    (41.831677   -87.625826)

In [30]:
# remove parentheses
LocationNew[0].replace(regex=True,inplace=True,to_replace=r'\(',value=r'')
LocationNew[1].replace(regex=True,inplace=True,to_replace=r'\)',value=r'')
LocationNew.head()

                 0            1
STOP_ID
30162    41.857908   -87.669147
30161    41.857908   -87.669147
30022    41.829353   -87.680622
30023    41.829353   -87.680622
30214    41.831677   -87.625826

In [31]:
# add Point_Y and Point_X to dataframe
TrainStops["latitude"] = LocationNew[0]
TrainStops["longitude"] = LocationNew[1]
TrainStops = TrainStops.drop("Location", 1)

In [32]:
# look at clean data frame
TrainStops.head()

,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,latitude,longitude
STOP_ID,,,,,,,,,,,,,,,,,
30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,41.857908,-87.669147
30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,41.829353,-87.680622
30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,41.831677,-87.625826

Import and clead holiday data

In [ ]:
# @Lola: insert code for loading holiday data

Establie API to weather data

In [ ]:
# @Lola: insert code for for establishing API to weather data