# Jainam's notebook for test code

In [1]:
from sodapy import Socrata # for API calls
import sqlalchemy as db # for SQL
import pymysql # for SQL
import pandas as pd # for data cleaning
import dbfread # for dbf transformation
from simpledbf import Dbf5 # for dbf transformation

In [48]:
# Download crime data
# Select date to filter crime dataset for
date = '2011-11-12T00:00:00.000'

# prepare where statement of the API call
statement = "date <= '" + date + "' AND location_description = 'CTA PLATFORM' OR date <= '" + date + "' AND location_description = 'CTA BUS' OR date <= '" + date + "' AND location_description = 'CTA TRAIN' OR date <= '" + date + "' AND location_description = 'CTA BUS STOP' OR date <= '" + date + "' AND location_description = 'CTA GARAGE / OTHER PROPERTY'"
statement

"date <= '2011-11-12T00:00:00.000' AND location_description = 'CTA PLATFORM' OR date <= '2011-11-12T00:00:00.000' AND location_description = 'CTA BUS' OR date <= '2011-11-12T00:00:00.000' AND location_description = 'CTA TRAIN' OR date <= '2011-11-12T00:00:00.000' AND location_description = 'CTA BUS STOP' OR date <= '2011-11-12T00:00:00.000' AND location_description = 'CTA GARAGE / OTHER PROPERTY'"

In [49]:
# Pull 2011 data using API

# Authenticate client (needed for non-public datasets):
client = Socrata("data.cityofchicago.org",
                  "QtMhXqaTTglPlVS3AC6PEQQxD", username = "juli.kleindiek@gmail.com", password = "DEPA_2019")

# Limit to 1000 rows for test purposes
results = client.get("ijzp-q8t2", 
                     where = statement,
                     limit = 1000)

In [50]:
# Convert results to pandas DataFrame
crime_dirty = pd.DataFrame.from_records(results)

## Cleaning the data

In [51]:
# display all pulled data
crime_dirty

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,0913,026XX W PERSHING RD,G130547,NaN,2001-03-06T20:50:00.000,SIMPLE,009,False,08B,...,NaN,NaN,CTA PLATFORM,NaN,BATTERY,2015-08-17T15:03:40.000,NaN,NaN,NaN,2001
1,True,0234,051XX S KING DR,HH296644,NaN,2002-04-09T20:34:51.000,SIMPLE,002,False,08A,...,NaN,NaN,CTA BUS,NaN,ASSAULT,2016-02-04T06:33:39.000,NaN,NaN,NaN,2002
2,True,0132,011XX S STATE ST,HH136151,NaN,2002-01-19T15:00:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,NaN,NaN,CTA PLATFORM,NaN,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
3,True,0132,011XX S STATE ST,HH130664,NaN,2002-01-16T18:40:00.000,POSS: CANNABIS 30GMS OR LESS,001,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
4,False,1614,058XX N CUMBERLAND AV JFK,HH149253,NaN,2002-01-26T01:00:00.000,$500 AND UNDER,016,False,06,...,NaN,NaN,CTA TRAIN,NaN,THEFT,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
5,True,1423,013XX N WASHTENAW AV,HH148894,NaN,2002-01-26T01:00:00.000,POSS: CANNABIS 30GMS OR LESS,014,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
6,False,1424,015XX N DAMEN AV,HH207422,NaN,2002-02-24T05:00:00.000,TO PROPERTY,014,False,14,...,NaN,NaN,CTA TRAIN,NaN,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
7,False,1213,004XX S PEORIA ST,G745162,NaN,2001-12-10T16:00:00.000,$500 AND UNDER,012,False,06,...,NaN,NaN,CTA PLATFORM,NaN,THEFT,2015-08-17T15:03:40.000,NaN,NaN,NaN,2001
8,False,1524,055XX W CHICAGO AV,HH252338,NaN,2002-03-19T15:00:00.000,TO VEHICLE,015,False,14,...,NaN,NaN,CTA BUS,NaN,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
9,False,1834,005XX N STATE ST,HH276391,NaN,2002-03-31T06:37:00.000,OVER $500,018,False,06,...,NaN,NaN,CTA PLATFORM,NaN,THEFT,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
10,False,0923,025XX S ARCHER AV,HH279967,NaN,2002-04-01T05:44:00.000,TO PROPERTY,009,False,14,...,NaN,NaN,CTA PLATFORM,NaN,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
11,False,1524,052XX W DIVISION ST,HH331310,25,2002-04-25T23:45:00.000,TO PROPERTY,015,False,14,...,NaN,NaN,CTA BUS,NaN,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,37,NaN,NaN,2002
12,False,0923,025XX S ARCHER AVE,HH352378,60,2002-05-05T11:41:00.000,TO PROPERTY,009,False,14,...,NaN,NaN,CTA PLATFORM,NaN,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,11,NaN,NaN,2002
13,True,1135,004XX S WESTERN AVE,HH345890,28,2002-05-02T21:35:00.000,POSS: CRACK,011,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,2,NaN,NaN,2002
14,True,1512,003XX N CENTRAL AVE,HH375323,25,2002-05-16T08:40:00.000,THEFT OF LABOR/SERVICES,015,False,11,...,NaN,NaN,CTA PLATFORM,NaN,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,29,NaN,NaN,2002
15,False,1923,017XX W IRVING PARK RD,HH429996,5,2002-06-09T13:30:00.000,ARMED: HANDGUN,019,False,03,...,NaN,NaN,CTA PLATFORM,NaN,ROBBERY,2015-08-17T15:03:40.000,47,NaN,NaN,2002
16,True,0314,015XX E 63RD ST,HH447057,42,2002-06-17T00:50:00.000,SIMPLE,003,False,08A,...,NaN,NaN,CTA BUS,NaN,ASSAULT,2015-08-17T15:03:40.000,20,NaN,NaN,2002
17,True,1134,005XX S KEDZIE AVE,HH427961,27,2002-06-08T17:11:37.000,POSS: HEROIN(WHITE),011,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,28,NaN,NaN,2002
18,True,1134,005XX S KEDZIE AVE,HH427996,27,2002-06-08T17:29:24.000,POSS: HEROIN(WHITE),011,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,28,NaN,NaN,2002
19,False,0132,011XX S STATE ST,HH475747,32,2002-06-29T13:00:00.000,SIMPLE,001,False,08B,...,NaN,NaN,CTA TRAIN,NaN,BATTERY,2015-08-17T15:03:40.000,2,NaN,NaN,2002
20,False,1833,007XX N STATE ST,HH401596,8,2002-05-28T10:30:00.000,$500 AND UNDER,018,False,06,...,NaN,NaN,CTA PLATFORM,NaN,THEFT,2015-08-17T15:03:40.000,42,NaN,NaN,2002
21,False,1011,041XX W ROOSEVELT RD,HH412141,29,2002-06-01T18:15:00.000,SIMPLE,010,False,08B,...,NaN,NaN,CTA BUS,NaN,BATTERY,2015-08-17T15:03:40.000,24,NaN,NaN,2002
22,True,1134,005XX S KEDZIE AVE,HH404305,27,2002-05-29T13:24:20.000,SIMPLE,011,False,08B,...,NaN,NaN,CTA PLATFORM,NaN,BATTERY,2015-08-17T15:03:40.000,24,NaN,NaN,2002
23,True,1135,005XX S WESTERN AVE,HH613780,28,2002-08-29T23:15:00.000,POSS: CRACK,011,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,2,NaN,NaN,2002
24,True,1813,008XX W NORTH AVE,HH672491,7,2002-09-25T20:25:00.000,POSS: CRACK,018,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,43,NaN,NaN,2002
25,False,1134,005XX S HOMAN AVE,HH691465,27,2002-10-04T11:10:00.000,SIMPLE,011,False,08B,...,NaN,NaN,CTA PLATFORM,NaN,BATTERY,2015-08-17T15:03:40.000,24,NaN,NaN,2002
26,True,1412,029XX N MILWAUKEE AVE,HH739206,21,2002-10-26T09:00:00.000,TO LAND,014,False,26,...,NaN,NaN,CTA PLATFORM,NaN,CRIMINAL TRESPASS,2015-08-17T15:03:40.000,35,NaN,NaN,2002
27,False,0132,011XX S STATE ST,HH580515,32,2002-08-14T17:55:04.000,SIMPLE,001,False,08B,...,NaN,NaN,CTA PLATFORM,NaN,BATTERY,2015-08-17T15:03:40.000,2,NaN,NaN,2002
28,False,0311,061XX S WENTWORTH AVE,HH762037,68,2002-11-06T08:09:30.000,PRO EMP HANDS NO/MIN INJURY,003,False,08A,...,NaN,NaN,CTA BUS,NaN,ASSAULT,2015-08-17T15:03:40.000,20,NaN,NaN,2002
29,True,1432,027XX N WESTERN AVE,HH759240,22,2002-11-04T20:09:00.000,PRO EMP HANDS NO/MIN INJURY,014,False,08B,...,NaN,NaN,CTA BUS,NaN,BATTERY,2015-08-17T15:03:40.000,1,NaN,NaN,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,False,0813,057XX S CICERO AV,G046900,NaN,2001-01-23T07:45:00.000,$500 AND UNDER,008,False,06,...,41.789387343,"{'latitude': '41.789387343', 'longitude': '-87...",CTA BUS,-87.741410303,THEFT,2015-08-17T15:03:40.000,NaN,1145672,1866399,2001
971,False,1133,034XX W ROOSEVELT RD,G041102,NaN,2001-01-16T13:00:00.000,$500 AND UNDER,011,False,06,...,41.866456898,"{'latitude': '41.866456898', 'longitude': '-87...",CTA BUS,-87.710668569,THEFT,2015-08-17T15:03:40.000,NaN,1153852,1894542,2001
972,False,2131,010XX E 55 ST,G043465,NaN,2001-01-21T13:30:00.000,SIMPLE,002,False,08B,...,41.795450715,"{'latitude': '41.795450715', 'longitude': '-87...",CTA BUS,-87.601151721,BATTERY,2015-08-17T15:03:40.000,NaN,1183903,1868903,2001
973,False,0232,003XX E 51 ST,G046184,NaN,2001-01-22T19:48:53.000,AGGRAVATED: OTHER DANG WEAPON,002,False,04B,...,41.801954806,"{'latitude': '41.801954806', 'longitude': '-87...",CTA PLATFORM,-87.618605234,BATTERY,2015-08-17T15:03:40.000,NaN,1179124,1871233,2001
974,True,2023,011XX W BERWYN AV,G042348,NaN,2001-01-20T20:05:00.000,THEFT OF LABOR/SERVICES,020,False,11,...,41.978273172,"{'latitude': '41.978273172', 'longitude': '-87...",CTA PLATFORM,-87.658695433,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1167688,1935395,2001
975,False,1322,017XX W CHICAGO AV,G047054,NaN,2001-01-22T17:35:00.000,$500 AND UNDER,012,False,06,...,41.896140281,"{'latitude': '41.896140281', 'longitude': '-87...",CTA BUS,-87.669793545,THEFT,2015-08-17T15:03:40.000,NaN,1164902,1905442,2001
976,True,1034,025XX S CALIFORNIA AV,G046014,NaN,2001-01-22T18:39:38.000,SIMPLE,010,False,08A,...,41.844894387,"{'latitude': '41.844894387', 'longitude': '-87...",CTA BUS,-87.694520144,ASSAULT,2015-08-17T15:03:40.000,NaN,1158309,1886717,2001
977,False,2423,016XX W JARVIS AV,G047262,NaN,2001-01-23T11:15:00.000,$500 AND UNDER,024,False,06,...,42.01587129,"{'latitude': '42.01587129', 'longitude': '-87....",CTA TRAIN,-87.67094231,THEFT,2015-08-17T15:03:40.000,NaN,1164252,1949070,2001
978,True,0132,0000X E ROOSEVELT RD,G045726,NaN,2001-01-22T16:20:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.867528389,"{'latitude': '41.867528389', 'longitude': '-87...",CTA BUS,-87.626936228,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1176656,1895109,2001
979,True,0113,001XX N WELLS ST,G045980,NaN,2001-01-22T18:15:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.885536838,"{'latitude': '41.885536838', 'longitude': '-87...",CTA PLATFORM,-87.633777871,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1174739,1901656,2001
980,True,1532,048XX W LAKE ST,G031321,NaN,2001-01-15T13:26:00.000,POSS: CRACK,015,False,18,...,41.886528737,"{'latitude': '41.886528737', 'longitude': '-87...",CTA PLATFORM,-87.745633867,NARCOTICS,2015-08-17T15:03:40.000,NaN,1144278,1901789,2001
981,True,0113,001XX W LAKE ST,G033242,NaN,2001-01-16T13:05:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.88562992,"{'latitude': '41.88562992', 'longitude': '-87....",CTA PLATFORM,-87.631492621,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1175361,1901695,2001
982,True,1822,015XX N CLYBOURN AV,G018705,NaN,2001-01-09T17:39:22.000,LIQUOR LICENSE VIOLATION,018,False,22,...,41.910932428,"{'latitude': '41.910932428', 'longitude': '-87...",CTA PLATFORM,-87.649338636,LIQUOR LAW VIOLATION,2015-08-17T15:03:40.000,NaN,1170428,1910876,2001
983,True,0113,001XX N WELLS ST,G039866,NaN,2001-01-19T16:02:02.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.885416078,"{'latitude': '41.885416078', 'longitude': '-87...",CTA PLATFORM,-87.633775516,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1174740,1901612,2001
984,False,0132,0000X W VAN BUREN ST,G046356,NaN,2001-01-22T21:00:00.000,$500 AND UNDER,001,False,06,...,41.876814062,"{'latitude': '41.876814062', 'longitude': '-87...",CTA TRAIN,-87.627689531,THEFT,2015-08-17T15:03:40.000,NaN,1176423,1898491,2001
985,False,1532,048XX W LAKE ST,G047632,NaN,2001-01-23T11:00:00.000,ARMED: OTHER DANGEROUS WEAPON,015,False,03,...,41.886769317,"{'latitude': '41.886769317', 'longitude': '-87...",CTA TRAIN,-87.745991565,ROBBERY,2015-08-17T15:03:40.000,NaN,1144180,1901876,2001
986,False,1434,020XX W NORTH AV,G047772,NaN,2001-01-23T12:00:00.000,$500 AND UNDER,014,False,06,...,41.910586268,"{'latitude': '41.910586268', 'longitude': '-87...",CTA TRAIN,-87.677494946,THEFT,2015-08-17T15:03:40.000,NaN,1162765,1910690,2001
987,True,0113,001XX N WELLS ST,G047936,NaN,2001-01-23T16:35:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.885536838,"{'latitude': '41.885536838', 'longitude': '-87...",CTA PLATFORM,-87.633777871,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1174739,1901656,2001
988,True,1333,016XX W LAKE ST,G048067,NaN,2001-01-23T17:35:00.000,THEFT OF LABOR/SERVICES,012,False,11,...,41.885433075,"{'latitude': '41.885433075', 'longitude': '-87...",CTA PLATFORM,-87.667091294,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1165668,1901546,2001
989,True,0311,001XX W 63 ST,G045273,NaN,2001-01-22T13:05:00.000,THEFT OF LABOR/SERVICES,003,False,11,...,41.780102089,"{'latitude': '41.780102089', 'longitude': '-87...",CTA BUS,-87.629722421,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1176158,1863245,2001
990,True,0122,001XX N STATE ST,G048272,NaN,2001-01-23T19:10:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,41.885512978,"{'latitude': '41.885512978', 'longitude': '-87...",CTA PLATFORM,-87.628082243,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1176290,1901660,2001
991,True,1333,016XX W LAKE ST,G048065,NaN,2001-01-23T17:00:00.000,THEFT OF LABOR/SERVICES,012,False,11,...,41.885433075,"{'latitude': '41.885433075', 'longitude': '-87...",CTA PLATFORM,-87.667091294,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1165668,1901546,2001
992,False,0623,079XX S LAFAYETTE AV,G048120,NaN,2001-01-23T17:52:59.000,SIMPLE,006,False,08B,...,41.750890705,"{'latitude': '41.750890705', 'longitude': '-87...",CTA BUS,-87.625970021,BATTERY,2015-08-17T15:03:40.000,NaN,1177269,1852609,2001
993,True,0634,0000X W 87 ST,G048244,NaN,2001-01-23T18:25:00.000,ATTEMPT: STRONGARM-NO WEAPON,006,False,03,...,41.736169842,"{'latitude': '41.736169842', 'longitude': '-87...",CTA TRAIN,-87.625014096,ROBBERY,2015-08-17T15:03:40.000,NaN,1177574,1847247,2001
994,False,0813,046XX W 59 ST,G044684,NaN,2001-01-22T08:45:00.000,SIMPLE,008,False,08B,...,41.785899326,"{'latitude': '41.785899326', 'longitude': '-87...",CTA PLATFORM,-87.738219346,BATTERY,2015-08-17T15:03:40.000,NaN,1146551,1865134,2001
995,False,0835,079XX S WESTERN AV,G044964,NaN,2001-01-22T08:00:00.000,SIMPLE,008,False,08B,...,41.750053063,"{'latitude': '41.750053063', 'longitude': '-87...",CTA PLATFORM,-87.682994114,BATTERY,2015-08-17T15:03:40.000,NaN,1161711,1852181,2001
996,True,1924,009XX W BELMONT AV,G047114,NaN,2001-01-23T09:30:00.000,OVER $500,019,False,06,...,41.939808811,"{'latitude': '41.939808811', 'longitude': '-87...",CTA PLATFORM,-87.653315771,THEFT,2015-08-17T15:03:40.000,NaN,1169262,1921390,2001
997,True,0935,002XX W 47 ST,G047905,NaN,2001-01-23T16:15:00.000,TO STATE SUP PROP,009,False,14,...,41.809234805,"{'latitude': '41.809234805', 'longitude': '-87...",CTA PLATFORM,-87.631868633,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,1175486,1873856,2001
998,True,0724,012XX W 63 ST,G047478,NaN,2001-01-23T13:15:00.000,THEFT OF LABOR/SERVICES,007,False,11,...,41.779497371,"{'latitude': '41.779497371', 'longitude': '-87...",CTA BUS,-87.654649162,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,1169361,1862970,2001
999,False,0314,015XX E 63 ST,G046434,NaN,2001-01-22T22:15:00.000,TO PROPERTY,003,False,14,...,41.780710768,"{'latitude': '41.780710768', 'longitude': '-87...",CTA BUS,-87.587016771,CRIMINAL DAMAGE,2015-08-17T15:03:40.000,NaN,1187804,1863565,2001

In [52]:
# Get information about our download
crime_dirty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
arrest                  1000 non-null bool
beat                    1000 non-null object
block                   1000 non-null object
case_number             1000 non-null object
community_area          498 non-null object
date                    1000 non-null object
description             1000 non-null object
district                1000 non-null object
domestic                1000 non-null bool
fbi_code                1000 non-null object
id                      1000 non-null object
iucr                    1000 non-null object
latitude                471 non-null object
location                471 non-null object
location_description    1000 non-null object
longitude               471 non-null object
primary_type            1000 non-null object
updated_on              1000 non-null object
ward                    493 non-null object
x_coordinate            471 non-null object
y_coordinate            471 non-null object
year                    1000 non-null object
dtypes: bool(2), object(20)
memory usage: 158.3+ KB

In [53]:
# Look at some output
crime_dirty.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,0913,026XX W PERSHING RD,G130547,NaN,2001-03-06T20:50:00.000,SIMPLE,009,False,08B,...,NaN,NaN,CTA PLATFORM,NaN,BATTERY,2015-08-17T15:03:40.000,NaN,NaN,NaN,2001
1,True,0234,051XX S KING DR,HH296644,NaN,2002-04-09T20:34:51.000,SIMPLE,002,False,08A,...,NaN,NaN,CTA BUS,NaN,ASSAULT,2016-02-04T06:33:39.000,NaN,NaN,NaN,2002
2,True,0132,011XX S STATE ST,HH136151,NaN,2002-01-19T15:00:00.000,THEFT OF LABOR/SERVICES,001,False,11,...,NaN,NaN,CTA PLATFORM,NaN,DECEPTIVE PRACTICE,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
3,True,0132,011XX S STATE ST,HH130664,NaN,2002-01-16T18:40:00.000,POSS: CANNABIS 30GMS OR LESS,001,False,18,...,NaN,NaN,CTA PLATFORM,NaN,NARCOTICS,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002
4,False,1614,058XX N CUMBERLAND AV JFK,HH149253,NaN,2002-01-26T01:00:00.000,$500 AND UNDER,016,False,06,...,NaN,NaN,CTA TRAIN,NaN,THEFT,2015-08-17T15:03:40.000,NaN,NaN,NaN,2002

In [54]:
# Validate the values , i.e. 'id'
crime_dirty.loc[2:3]['id']

2    1948656
3    1953290
Name: id, dtype: object

In [55]:
# bring dataframe into proper format
crime = crime_dirty[['id', 
        'case_number', 
        'date', 
        'block', 
        'iucr', 
        'primary_type', 
        'description', 
        'location_description',
        'arrest',
        'domestic',
        'beat',
        'district',
        'ward',
        'community_area',
        'fbi_code',
        'x_coordinate',
        'y_coordinate',
        'year',
        'updated_on',
        'latitude',
        'longitude']]

In [56]:
# take a look at the proper dataframe
crime.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,1412341,G130547,2001-03-06T20:50:00.000,026XX W PERSHING RD,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,...,009,NaN,NaN,08B,NaN,NaN,2001,2015-08-17T15:03:40.000,NaN,NaN
1,2075740,HH296644,2002-04-09T20:34:51.000,051XX S KING DR,0560,ASSAULT,SIMPLE,CTA BUS,True,False,...,002,NaN,NaN,08A,NaN,NaN,2002,2016-02-04T06:33:39.000,NaN,NaN
2,1948656,HH136151,2002-01-19T15:00:00.000,011XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,...,001,NaN,NaN,11,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
3,1953290,HH130664,2002-01-16T18:40:00.000,011XX S STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,...,001,NaN,NaN,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
4,1958375,HH149253,2002-01-26T01:00:00.000,058XX N CUMBERLAND AV JFK,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,...,016,NaN,NaN,06,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN

In [57]:
# rename column names using camelCase
crime.columns = ['crimeID', 'caseNumber', 'date', 'block', 'iucr', 'primaryType', 'description', 'locationDescription', 'arrest', 'domestic',
                'beat', 'district', 'ward', 'communityArea', 'fbiCode', 'xCoordinate', 'yCoordinate', 'year', 'updatedOn', 'latitude', 'longitude']

# check that column names have been updated
crime.head()

,crimeID,caseNumber,date,block,iucr,primaryType,description,locationDescription,arrest,domestic,...,district,ward,communityArea,fbiCode,xCoordinate,yCoordinate,year,updatedOn,latitude,longitude
0,1412341,G130547,2001-03-06T20:50:00.000,026XX W PERSHING RD,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,...,009,NaN,NaN,08B,NaN,NaN,2001,2015-08-17T15:03:40.000,NaN,NaN
1,2075740,HH296644,2002-04-09T20:34:51.000,051XX S KING DR,0560,ASSAULT,SIMPLE,CTA BUS,True,False,...,002,NaN,NaN,08A,NaN,NaN,2002,2016-02-04T06:33:39.000,NaN,NaN
2,1948656,HH136151,2002-01-19T15:00:00.000,011XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,...,001,NaN,NaN,11,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
3,1953290,HH130664,2002-01-16T18:40:00.000,011XX S STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,...,001,NaN,NaN,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
4,1958375,HH149253,2002-01-26T01:00:00.000,058XX N CUMBERLAND AV JFK,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,...,016,NaN,NaN,06,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN

In [58]:
# check datatypes for each column
crime.dtypes

crimeID                object
caseNumber             object
date                   object
block                  object
iucr                   object
primaryType            object
description            object
locationDescription    object
arrest                   bool
domestic                 bool
beat                   object
district               object
ward                   object
communityArea          object
fbiCode                object
xCoordinate            object
yCoordinate            object
year                   object
updatedOn              object
latitude               object
longitude              object
dtype: object

In [74]:
# check whether any particular column contains null values and if so, how many
crime['xCoordinate'].isnull().sum()

# found that ward, communityArea, xCoord, yCoord contain several nulls.
# Since int doesn't accept null values, use float for these columns

529

In [75]:
# define proper data types for each column using a dictionary
convertDict = {'crimeID': int, 
               'caseNumber': str,
               'date': object,
               'block': str,
               'iucr': str,
               'primaryType': str,
               'description': str,
               'locationDescription': str,
               'arrest': bool,
               'domestic': bool,
               'beat': int,
               'district': int,
               'ward': float,
               'communityArea': float,
               'fbiCode': str,
               'xCoordinate': float,
               'yCoordinate': float,
               'year': object,
               'updatedOn': object,
               'latitude': float,
               'longitude': float,
               }

In [76]:
# convert the datatypes for all columns using covertDict
crime = crime.astype(convertDict) 

# convert the 'Date' column to datetime format 
from datetime import datetime
from datetime import date

crime['date']= pd.to_datetime(crime['date']) 
# crime['year']= pd.to_datetime(crime['year'], format='%Y') # store year as int
crime['updatedOn']= pd.to_datetime(crime['updatedOn']) 


# check that the datatypes have been updated
print(crime.dtypes) 

# see data
crime.head()

crimeID                         int32
caseNumber                     object
date                   datetime64[ns]
block                          object
iucr                           object
primaryType                    object
description                    object
locationDescription            object
arrest                           bool
domestic                         bool
beat                            int32
district                        int32
ward                          float64
communityArea                 float64
fbiCode                        object
xCoordinate                   float64
yCoordinate                   float64
year                           object
updatedOn              datetime64[ns]
latitude                      float64
longitude                     float64
dtype: object

,crimeID,caseNumber,date,block,iucr,primaryType,description,locationDescription,arrest,domestic,...,district,ward,communityArea,fbiCode,xCoordinate,yCoordinate,year,updatedOn,latitude,longitude
0,1412341,G130547,2001-03-06 20:50:00,026XX W PERSHING RD,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,...,9,NaN,NaN,08B,NaN,NaN,2001,2015-08-17 15:03:40,NaN,NaN
1,2075740,HH296644,2002-04-09 20:34:51,051XX S KING DR,0560,ASSAULT,SIMPLE,CTA BUS,True,False,...,2,NaN,NaN,08A,NaN,NaN,2002,2016-02-04 06:33:39,NaN,NaN
2,1948656,HH136151,2002-01-19 15:00:00,011XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,...,1,NaN,NaN,11,NaN,NaN,2002,2015-08-17 15:03:40,NaN,NaN
3,1953290,HH130664,2002-01-16 18:40:00,011XX S STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,...,1,NaN,NaN,18,NaN,NaN,2002,2015-08-17 15:03:40,NaN,NaN
4,1958375,HH149253,2002-01-26 01:00:00,058XX N CUMBERLAND AV JFK,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,...,16,NaN,NaN,06,NaN,NaN,2002,2015-08-17 15:03:40,NaN,NaN

In [21]:
# set index of crime dataframe to 'id'
crime.set_index('crimeID')

,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
crimeID,,,,,,,,,,,,,,,,,,,,
1412341,G130547,2001-03-06T20:50:00.000,026XX W PERSHING RD,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,0913,009,NaN,NaN,08B,NaN,NaN,2001,2015-08-17T15:03:40.000,NaN,NaN
1948656,HH136151,2002-01-19T15:00:00.000,011XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0132,001,NaN,NaN,11,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
1953290,HH130664,2002-01-16T18:40:00.000,011XX S STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,0132,001,NaN,NaN,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
1958375,HH149253,2002-01-26T01:00:00.000,058XX N CUMBERLAND AV JFK,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1614,016,NaN,NaN,06,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
1972951,HH148894,2002-01-26T01:00:00.000,013XX N WASHTENAW AV,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,1423,014,NaN,NaN,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2004592,HH207422,2002-02-24T05:00:00.000,015XX N DAMEN AV,1310,CRIMINAL DAMAGE,TO PROPERTY,CTA TRAIN,False,False,1424,014,NaN,NaN,14,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
1892890,G745162,2001-12-10T16:00:00.000,004XX S PEORIA ST,0820,THEFT,$500 AND UNDER,CTA PLATFORM,False,False,1213,012,NaN,NaN,06,NaN,NaN,2001,2015-08-17T15:03:40.000,NaN,NaN
2039099,HH252338,2002-03-19T15:00:00.000,055XX W CHICAGO AV,1320,CRIMINAL DAMAGE,TO VEHICLE,CTA BUS,False,False,1524,015,NaN,NaN,14,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2055878,HH276391,2002-03-31T06:37:00.000,005XX N STATE ST,0810,THEFT,OVER $500,CTA PLATFORM,False,False,1834,018,NaN,NaN,06,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2060658,HH279967,2002-04-01T05:44:00.000,025XX S ARCHER AV,1310,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,False,False,0923,009,NaN,NaN,14,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2992574,HJ682316,2003-10-09T15:10:03.000,104XX S TORRENCE AVE,0460,BATTERY,SIMPLE,CTA BUS,True,False,0434,004,10,51,08B,NaN,NaN,2003,2015-08-17T15:03:40.000,NaN,NaN
2100944,HH331310,2002-04-25T23:45:00.000,052XX W DIVISION ST,1310,CRIMINAL DAMAGE,TO PROPERTY,CTA BUS,False,False,1524,015,37,25,14,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2114241,HH352378,2002-05-05T11:41:00.000,025XX S ARCHER AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,False,False,0923,009,11,60,14,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2126405,HH345890,2002-05-02T21:35:00.000,004XX S WESTERN AVE,2027,NARCOTICS,POSS: CRACK,CTA PLATFORM,True,False,1135,011,2,28,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2139233,HH375323,2002-05-16T08:40:00.000,003XX N CENTRAL AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1512,015,29,25,11,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2174399,HH429996,2002-06-09T13:30:00.000,017XX W IRVING PARK RD,031A,ROBBERY,ARMED: HANDGUN,CTA PLATFORM,False,False,1923,019,47,5,03,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2189951,HH447057,2002-06-17T00:50:00.000,015XX E 63RD ST,0560,ASSAULT,SIMPLE,CTA BUS,True,False,0314,003,20,42,08A,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2190890,HH427961,2002-06-08T17:11:37.000,005XX S KEDZIE AVE,2024,NARCOTICS,POSS: HEROIN(WHITE),CTA PLATFORM,True,False,1134,011,28,27,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2190906,HH427996,2002-06-08T17:29:24.000,005XX S KEDZIE AVE,2024,NARCOTICS,POSS: HEROIN(WHITE),CTA PLATFORM,True,False,1134,011,28,27,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2211515,HH475747,2002-06-29T13:00:00.000,011XX S STATE ST,0460,BATTERY,SIMPLE,CTA TRAIN,False,False,0132,001,2,32,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2152699,HH401596,2002-05-28T10:30:00.000,007XX N STATE ST,0820,THEFT,$500 AND UNDER,CTA PLATFORM,False,False,1833,018,42,8,06,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2161654,HH412141,2002-06-01T18:15:00.000,041XX W ROOSEVELT RD,0460,BATTERY,SIMPLE,CTA BUS,False,False,1011,010,24,29,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2167526,HH404305,2002-05-29T13:24:20.000,005XX S KEDZIE AVE,0460,BATTERY,SIMPLE,CTA PLATFORM,True,False,1134,011,24,27,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2344994,HH613780,2002-08-29T23:15:00.000,005XX S WESTERN AVE,2027,NARCOTICS,POSS: CRACK,CTA PLATFORM,True,False,1135,011,2,28,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2375003,HH672491,2002-09-25T20:25:00.000,008XX W NORTH AVE,2027,NARCOTICS,POSS: CRACK,CTA PLATFORM,True,False,1813,018,43,7,18,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2393478,HH691465,2002-10-04T11:10:00.000,005XX S HOMAN AVE,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,1134,011,24,27,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2427819,HH739206,2002-10-26T09:00:00.000,029XX N MILWAUKEE AVE,1330,CRIMINAL TRESPASS,TO LAND,CTA PLATFORM,True,False,1412,014,35,21,26,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2296403,HH580515,2002-08-14T17:55:04.000,011XX S STATE ST,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,0132,001,2,32,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2441383,HH762037,2002-11-06T08:09:30.000,061XX S WENTWORTH AVE,0545,ASSAULT,PRO EMP HANDS NO/MIN INJURY,CTA BUS,False,False,0311,003,20,68,08A,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
2438818,HH759240,2002-11-04T20:09:00.000,027XX N WESTERN AVE,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,CTA BUS,True,False,1432,014,1,22,08B,NaN,NaN,2002,2015-08-17T15:03:40.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346503,G046356,2001-01-22T21:00:00.000,0000X W VAN BUREN ST,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,0132,001,NaN,NaN,06,1176423,1898491,2001,2015-08-17T15:03:40.000,41.876814062,-87.627689531
1346549,G047632,2001-01-23T11:00:00.000,048XX W LAKE ST,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,CTA TRAIN,False,False,1532,015,NaN,NaN,03,1144180,1901876,2001,2015-08-17T15:03:40.000,41.886769317,-87.745991565
1346554,G047772,2001-01-23T12:00:00.000,020XX W NORTH AV,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1434,014,NaN,NaN,06,1162765,1910690,2001,2015-08-17T15:03:40.000,41.910586268,-87.677494946
1346795,G047936,2001-01-23T16:35:00.000,001XX N WELLS ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0113,001,NaN,NaN,11,1174739,1901656,2001,2015-08-17T15:03:40.000,41.885536838,-87.633777871
1346814,G048067,2001-01-23T17:35:00.000,016XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1333,012,NaN,NaN,11,1165668,1901546,2001,2015-08-17T15:03:40.000,41.885433075,-87.667091294
1346819,G045273,2001-01-22T13:05:00.000,001XX W 63 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA BUS,True,False,0311,003,NaN,NaN,11,1176158,1863245,2001,2015-08-17T15:03:40.000,41.780102089,-87.629722421
1346840,G048272,2001-01-23T19:10:00.000,001XX N STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0122,001,NaN,NaN,11,1176290,1901660,2001,2015-08-17T15:03:40.000,41.885512978,-87.628082243
1346906,G048065,2001-01-23T17:00:00.000,016XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1333,012,NaN,NaN,11,1165668,1901546,2001,2015-08-17T15:03:40.000,41.885433075,-87.667091294
1346911,G048120,2001-01-23T17:52:59.000,079XX S LAFAYETTE AV,0460,BATTERY,SIMPLE,CTA BUS,False,False,0623,006,NaN,NaN,08B,1177269,1852609,2001,2015-08-17T15:03:40.000,41.750890705,-87.625970021
1347344,G048244,2001-01-23T18:25:00.000,0000X W 87 ST,0340,ROBBERY,ATTEMPT: STRONGARM-NO WEAPON,CTA TRAIN,True,False,0634,006,NaN,NaN,03,1177574,1847247,2001,2015-08-17T15:03:40.000,41.736169842,-87.625014096
1347376,G044684,2001-01-22T08:45:00.000,046XX W 59 ST,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,0813,008,NaN,NaN,08B,1146551,1865134,2001,2015-08-17T15:03:40.000,41.785899326,-87.738219346
1347390,G044964,2001-01-22T08:00:00.000,079XX S WESTERN AV,0460,BATTERY,SIMPLE,CTA PLATFORM,False,False,0835,008,NaN,NaN,08B,1161711,1852181,2001,2015-08-17T15:03:40.000,41.750053063,-87.682994114
1347409,G047114,2001-01-23T09:30:00.000,009XX W BELMONT AV,0810,THEFT,OVER $500,CTA PLATFORM,True,False,1924,019,NaN,NaN,06,1169262,1921390,2001,2015-08-17T15:03:40.000,41.939808811,-87.653315771
1347415,G047905,2001-01-23T16:15:00.000,002XX W 47 ST,1340,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA PLATFORM,True,False,0935,009,NaN,NaN,14,1175486,1873856,2001,2015-08-17T15:03:40.000,41.809234805,-87.631868633
1347440,G047478,2001-01-23T13:15:00.000,012XX W 63 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA BUS,True,False,0724,007,NaN,NaN,11,1169361,1862970,2001,2015-08-17T15:03:40.000,41.779497371,-87.654649162
1347482,G046434,2001-01-22T22:15:00.000,015XX E 63 ST,1310,CRIMINAL DAMAGE,TO PROPERTY,CTA BUS,False,False,0314,003,NaN,NaN,14,1187804,1863565,2001,2015-08-17T15:03:40.000,41.780710768,-87.587016771
1347760,G047969,2001-01-23T16:40:00.000,001XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0113,001,NaN,NaN,11,1175301,1901694,2001,2015-08-17T15:03:40.000,41.885628522,-87.63171298
1347826,G047824,2001-01-23T04:10:00.000,0000X E ROOSEVELT RD,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0132,001,NaN,NaN,11,1176808,1895113,2001,2015-08-17T15:03:40.000,41.867535932,-87.626378097
1347857,G047902,2001-01-23T16:00:00.000,002XX W 47 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0935,009,NaN,NaN,11,1175486,1873856,2001,2015-08-17T15:03:40.000,41.809234805,-87.631868633
1347904,G047614,2001-01-23T14:05:00.000,0000X W 95 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA TRAIN,True,False,0634,006,NaN,NaN,11,1177908,1841991,2001,2015-08-17T15:03:40.000,41.721739158,-87.62394914
1348041,G020328,2001-01-10T14:15:00.000,048XX W LAKE ST,2024,NARCOTICS,POSS: HEROIN(WHITE),CTA PLATFORM,True,False,1532,015,NaN,NaN,18,1144284,1901869,2001,2015-08-17T15:03:40.000,41.886748154,-87.745609821
1348044,G033957,2001-01-16T18:04:00.000,001XX N STATE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA PLATFORM,True,False,0122,001,NaN,NaN,18,1176305,1901089,2001,2015-08-17T15:03:40.000,41.883945784,-87.628044394
1348172,G049680,2001-01-24T14:00:00.000,049XX N MILWAUKEE AV,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,1623,016,NaN,NaN,06,1139071,1932650,2001,2015-08-17T15:03:40.000,41.971310883,-87.764003022
1348381,G050447,2001-01-24T12:00:00.000,035XX N SHEFFIELD AV,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,2331,019,NaN,NaN,06,1169005,1924065,2001,2015-08-17T15:03:40.000,41.947154714,-87.654182423
1348384,G050441,2001-01-22T09:00:00.000,103XX S MICHIGAN AV,0820,THEFT,$500 AND UNDER,CTA BUS,False,False,0512,005,NaN,NaN,06,1178931,1836694,2001,2015-08-17T15:03:40.000,41.707180296,-87.620362752
1348462,G050276,2001-01-24T19:40:00.000,016XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1333,012,NaN,NaN,11,1165668,1901546,2001,2015-08-17T15:03:40.000,41.885433075,-87.667091294
1348469,G050273,2001-01-24T19:45:00.000,016XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,False,False,1333,012,NaN,NaN,11,1165668,1901546,2001,2015-08-17T15:03:40.000,41.885433075,-87.667091294
1348482,G049977,2001-01-24T17:05:00.000,016XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,1333,012,NaN,NaN,11,1165668,1901546,2001,2015-08-17T15:03:40.000,41.885433075,-87.667091294
1348504,G040146,2001-01-19T18:12:17.000,0000X W 95 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0634,006,NaN,NaN,11,1177738,1841988,2001,2015-08-17T15:03:40.000,41.721734768,-87.624571908
1348506,G040352,2001-01-19T19:49:30.000,0000X W 95 ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,0634,006,NaN,NaN,11,1177738,1841988,2001,2015-08-17T15:03:40.000,41.721734768,-87.624571908

In [84]:
# Handling null values
# While several columns have null values, we can accept most of them.
# However, for null values in lat and long, we must remove those rows

# creating a bool series True for NaN values  
boolSeries = pd.notnull(crime['latitude']) & pd.notnull(crime['longitude'])  
    
# filtering data  
# displaying data only with lat and long = Not NaN  
crime[boolSeries].head()

,crimeID,caseNumber,date,block,iucr,primaryType,description,locationDescription,arrest,domestic,...,district,ward,communityArea,fbiCode,xCoordinate,yCoordinate,year,updatedOn,latitude,longitude
529,6375966,HP454000,2008-07-15 12:46:57,002XX W 63RD ST,0320,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,True,False,...,7,20.0,68.0,03,1175827.0,1863196.0,2008,2019-07-12 16:03:36,41.779975,-87.630937
530,5667942,HN477355,2007-07-20 05:39:00,008XX N STATE ST,0320,ROBBERY,STRONGARM - NO WEAPON,CTA TRAIN,False,False,...,18,2.0,8.0,03,1176223.0,1905805.0,2007,2019-08-10 16:01:09,41.896889,-87.628203
531,1449593,G172840,2001-03-26 22:01:48,012XX N CLARK ST,0460,BATTERY,SIMPLE,CTA PLATFORM,True,False,...,18,NaN,NaN,08B,1175278.0,1908386.0,2001,2015-08-17 15:03:40,41.903992,-87.631596
532,1548344,G301516,2001-05-25 09:43:02,050XX S STATE ST,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,2,NaN,NaN,08B,1177176.0,1871285.0,2001,2015-08-17 15:03:40,41.802142,-87.625748
533,1748969,G558019,2001-09-17 15:55:28,004XX W CHICAGO AV,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,18,NaN,NaN,08B,1172968.0,1905600.0,2001,2015-08-17 15:03:40,41.896399,-87.640164

## Bus stop stuff

In [52]:
# import CTA_BusStops.dbf
# retrieved from GitHub
# originally downloaded from https://data.cityofchicago.org/Transportation/CTA-Bus-Stops-Shapefile/pxug-u72f
busDbf = Dbf5('Datasets/CTA_BusStops.dbf', codec='utf-8')

# take a look at the file
busDbf.fields

[('DeletionFlag', 'C', 1),
 ('OBJECTID', 'N', 10),
 ('SYSTEMSTOP', 'N', 19),
 ('STREET', 'C', 75),
 ('CROSS_ST', 'C', 75),
 ('DIR', 'C', 3),
 ('POS', 'C', 4),
 ('ROUTESSTPG', 'C', 75),
 ('OWLROUTES', 'C', 20),
 ('CITY', 'C', 20),
 ('STATUS', 'N', 10),
 ('PUBLIC_NAM', 'C', 75),
 ('POINT_X', 'N', 19),
 ('POINT_Y', 'N', 19)]

In [53]:
# create a pandas dataframe from te dbf
BusStops = busDbf.to_dataframe()

# verify that all data has been loaded correctly
print(BusStops.shape)
BusStops.head()

(10895, 13)

,OBJECTID,SYSTEMSTOP,STREET,CROSS_ST,DIR,POS,ROUTESSTPG,OWLROUTES,CITY,STATUS,PUBLIC_NAM,POINT_X,POINT_Y
0,193,6696.0,TAYLOR,THROOP,EB,NS,157,NaN,CHICAGO,1,Taylor & Throop,-87.659294,41.869314
1,194,22.0,JACKSON,KARLOV,EB,FS,126,NaN,CHICAGO,1,Jackson & Karlov,-87.727808,41.877007
2,195,4767.0,FOSTER,MONTICELLO,EB,NS,92,NaN,CHICAGO,1,Foster & Monticello,-87.719780,41.975526
3,196,6057.0,ASHLAND,CERMAK/BLUE ISLAND,SB,NS,"9,X9",N9,CHICAGO,1,Ashland & Cermak/Blue Island,-87.666173,41.852484
4,197,1790.0,CLARK,ALBION,SB,NS,22,N22,CHICAGO,1,Clark & Albion,-87.671981,42.001785

In [46]:
# OPTIONAL: generate a csv file 
BusStops.to_csv('Datasets/CTA_BusStops.csv', index=False)